            * {
                margin: 0;
                padding: 0;
            }
            
            h1 {
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                font-size: 36px;
            }
            
            h1,
            a,
            p {
                color: #fff6ff;
            }
            
            h2,
            h3 {
                color: #c3b8d4;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 18px;
            }
            
            p {
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 18px;
            }
            
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 18px;
            }
            
            .large {
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            
            .small {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            
            .menu {
                display: flex;
                width: 100%;
                height: 50px;
                position: fixed;
            }
            
            .menu label {
                padding: 10px 0;
                flex-grow: 1;
                text-align: center;
                cursor: pointer;
                font-weight: 800;
                font-size: 22px;
                color: #c3b8d4;
            }
            
            .menu label:hover {
                background-color: rgba(255, 255, 255, .3);
                transition: .8s;
            }
            
            .block {
                width: 100vw;
                height: 100vh;
            }
            
            #page1 {
                background-color: #4b4453;
                display: flex;
            }
            
            #page1 .content {
                display: flex;
                flex-direction: column;
                width: 100vw;
                height: 100vh;
                align-items: center;
                justify-content: center;
            }
            
            #page1 .title {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10vh;
                width: 100vw;
                height: 10vh;
            }
            
            #page1 .img-profile {
                display: flex;
                width: 50vw;
                height: 50vh;
                justify-content: center;
                margin-top: 7vh;
            }
            
            #page1 .description {
                display: flex;
                width: 50vw;
                height: 50vh;
                justify-content: center;
                margin-top: 7vh;
            }
            
            .description p {
                text-align: center;
            }
            
            #page2 {
                background-color: #4b4453;
            }
            
            #page2 .content {
                display: flex;
                flex-direction: column;
                width: 100vw;
                height: 100vh;
                align-items: center;
                justify-content: center;
            }
            
            #page2 .cursos {
                display: flex;
                width: 50vw;
                margin-top: 10vh;
                flex-direction: column;
                justify-content: left;
            }
            
            #page3 {
                background-color: #4b4453;
            }
            
            #page3 .content {
                display: flex;
                width: 100vw;
                height: 100vh;
                align-items: center;
                justify-content: space-around;
            }
            
            .scrool {
                display: flex;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
            
            .scrool input {
                display: none;
            }
            
            .sections {
                transition: all .8s;
            }
            
            #ra_btn2:checked~.sections {
                margin-top: -100vh;
            }
            
            #ra_btn3:checked~.sections {
                margin-top: -200vh;
            }
            
            @media (max-width: 900px) {
                .large {
                    width: 150px;
                    height: 150px;
                }
                .small {
                    width: 50px;
                    height: 50px;
                }
                h1 {
                    font-size: 22px;
                }
                a {
                    font-size: 14px;
                }
                p {
                    font-size: 14px;
                }
                #page1 .title {
                    margin-top: 5vh;
                }
                #page1 .img-profile {
                    margin: 0;
                    align-items: center;
                }
                #page1 .description {
                    margin: 0;
                }
                #page2 .cursos {
                    margin-top: 5vh;
                }
                #page3 .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                #page3 .social-media {
                    margin: 3vh;
                }
            }
            
            @media (max-height: 500px) {
                .large {
                    width: 100px;
                    height: 100px;
                }
                #page1 .title {
                    margin-top: 15vh;
                }
                #page1 .img-profile {
                    margin: 0;
                    align-items: center;
                }
                #page1 .description {
                    margin: 0;
                    width: 70vw;
                }
                #page3 .content {
                    display: flex;
                    flex-direction: initial;
                }
            }